@charset "utf-8";
.main-wrapper {
    min-height: 1800px;
    height: auto;
    width: 1068px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.header {
    height: 200px;
    width: 1008px;
    background-color: #594e4e;
    padding: 30px 30px 0px 30px;
}

.logo img{
    border: 0px;
}

.slider-body {
    z-index:5;
    margin-top: -12px;
    background: #a49191;
    width: 1008px;
    height: 192px;
    padding: 17px 30px 13px 30px
}


.content {
    min-height: 590px;
    width: 1008px;
    padding: 35px 30px 0px 30px;
    position: relative;
}

.seperater-line{
    height: 10px;
    width: 1008px;
    background-image: url(../images/seperater-line.png);
    background-repeat: repeat-x;
}

.seperater-line-downko{
    height: 10px;
    width: 1008px;
    margin-left: 23px;
    background-image: url(../images/seperater-line.png);
    background-repeat: repeat-x;
}

.content-main-menu ul {
    height: 50px;
}
.content-main-menu ul li {
    float: left;
    list-style-type: none;
    width: 193px;
    margin-left: 1px;
    line-height: 43px;
    text-align: center;
    font-size: 14px;
    color: white;
    background: #3d8896;
}
.content-main-menu ul li:hover {
    margin-top: 7px;
    margin-left:3px;
    margin-right: 3px;
}

.content-main-menu ul li:active {
    margin-top: 7px;
    margin-left:3px;
    margin-right: 3px;
}
.activetab
{
    margin-top: 7px;
    margin-left:3px !important;
    margin-right: 3px !important;
}

.content-main-body {
    min-height: 327px;
    width: 1008px;
    display: none;
}
#tab0
{
    display: block;
}
.content-main-body ul li {
    float: left;
    list-style-type: none;
    margin-left: 70px;
    padding-bottom: 34px;
    height: 293px;
    width: 280px;
}
.content-main-body ul li:first-child {

    margin-left: 0px;
}
.content-main-body ul li img {
    height: 170px;
    width: 280px;
}
.content-main-body ul li h2 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
    /*margin-top: -5px;*/
}
.content-main-body ul li p {
    font-size: 13px;
    line-height: 15px;
    min-height: 70px;
}
.footer {
    width: 1008px;
    height: auto;
    margin-top: 29px;
}
.footer-top {
    height: 210px;
    width: 985px;
    padding: 40px 30px 40px 59px;

    background-image: url(../images/footer-top-background-img.png);
    background-repeat: repeat;
}
.footer-top-text {
    height: 60px;
    width: 985px;
    float: left;
    border-bottom: 2px solid;
    border-color: #3794a5;
}

.footer-top-text p {
    font-size: 19px;
    line-height: 20px;
}
.footer-top ul {
    float: left;
    margin-top: 22px;
}
.footer-top ul li {
    list-style-type: none;
    height: 85px;
    width: 236px;
    float: left;
    margin-right: 10px;
    position: relative;

}
.footer-top ul li p {
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    left: 42px;
    top: 0px;
}
.footer-top ul li span {
    font-size: 10px;
    font-family: sans-serif;
    line-height: 14px;
    position: absolute;
    left: 42px;
    top: 15px;
}
.footer-top-menu
{
    height: 35px;
    width: 1015px;
    background-color: #FFF;
    padding-left:53px; 
    border-bottom: 2px solid;
    border-bottom-color: #dcdcdc;
}

.footer-top-menu ul li 
{ 
    list-style-type: none;
    float: left;
    margin-right: 8px;
    line-height: 20px;
    margin-top: 10px;
    font-size: 14px;
    padding-left: 10px;
    list-style-type: none;
    background-image: url(../images/footer-menu-seperator.png);
    background-repeat: no-repeat;
}
.footer-top-menu ul li:first-child 
{ 
    background-image: none;
}
.footer-top-menu ul li a
{ 
    text-decoration: none;
}

.footer-bottom
{
    height: 370px;
    width: 969px;
    background-image: url("../images/footer-bottom-bg.png");
    background-repeat: repeat-x;
    padding-top: 17px;
    padding-right: 30px;
    padding-left: 69px;
}

.footer-bottom-menu span {
    font-size: 11px;
    float: right;
}
.footer-bottom-menu {
    float: right;
}
.footer-bottom-menu ul {
    height: 20px;
    float: right;
}
.footer-bottom-menu ul li {
    line-height: 14px;
    width: auto;
    font-size: 11px;
    font-family: sans-serif;
    padding-left: 6px;
    margin-left: 15px;
    list-style-type: none;
    background-image: url(../images/footer-menu-seperator.png);
    background-repeat: no-repeat;
    float: left;
}
.footer-bottom-menu ul li:first-child {
    background-image: none;
}
.footer-bottom-menu ul li a {
    color: black;
    text-decoration: none;
}
.language-select
{
    height:20px;
    width: 200px;
    float: left;
}

.country-img img{
    height: 18px;
    width: 23px;
    float: left;
    margin-right: 10px;
}

.select-country
{
    float: left;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}